<!DOCTYPE html>
<!--
vue:
    https://cn.vuejs.org/v2/guide/list.html

todo
    CQRS
    关闭之前检查 扩展是否都关闭(自动关闭)
-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
    <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
    <script src="/static/axios.min.js"></script>
    <script src="/static/vue.min.js"></script>
    <script src="/static/socket.io.slim.js"></script>
    <link rel="stylesheet" href="/static/normalize.css" />
    <link rel="stylesheet" href="/static/element-ui_2_12_0_index.css" />
    <script src="/static/element-ui_2_12_0_index.js"></script>
    <script src="/static/element-en.js"></script>
    <script src="/static/element-zh-CN.js"></script>
    <script src="/static/clipboard.min.js"></script>
    <script src="https://unpkg.com/marked@0.3.6"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue-markdown/2.2.4/vue-markdown.min.js"></script>
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <title>英荔 Adapter 控制中心</title>
    <style>
      * {
        box-sizing: border-box;
      }
      body {
        background-color: white;
      }
      section#app {
        text-align: center;
        min-width: 500px;
      }

      .el-tabs__nav-scroll {
        text-align: center;
      }
      .el-tabs__nav {
        display: inline-block;
        float: unset;
      }

      .header {
        display: none;
        padding: 20px 0;
        background-color: #4e97fe;
        color: white;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.35);
      }
      .header div.container {
        width: 500px;
        margin: 0 auto;
      }
      div.links {
        display: flex;
        justify-content: center;
        margin-top: 15px;
      }
      div.link a {
        font-size: 13px;
        color: white;
        margin: 0 12px;
      }
      #extension-list {
        display: none;
      }
      div.extensions,
      .menus {
        padding-top: 10px;
      }
      div.extension {
        margin: 0 auto;
        width: 500px;
        padding: 5px 90px;
        display: flex;
        justify-content: space-between;
      }
      .collapse .el-collapse-item__header {
        display: block;
        text-align: center;
        background-color: transparent;
      }
      .collapse .menuItem {
        text-align: center;
        cursor: pointer;
        padding: 5px 0;
      }
      .collapse .menuItem:hover {
        background-color: rgba(64, 158, 255, 0.15);
      }
      .menuBtn {
        display: none;
        position: fixed;
        right: -12px;
        top: 45%;
        padding-left: 10px;
      }

      .version > span {
        background-color: #d7d7d7;
        font-size: 12px;
        color: #fff;
        padding: 0 5px;
        margin-left: 5px;
        border-radius: 5px;
      }

      .tip {
        font-size: 14px;
        color: #999999;
        padding: 9px 10px;
        border-radius: 5px;
        background-color: #d4eefb;
      }

      .markdown-container {
        margin-top: 10px;
        padding: 100px 200px;
        background-color: #fff;
        line-height: 26px;
        text-align: left;
      }

      .markdown-container h1 {
        text-align: center;
      }

      .markdown-container a {
        color: #00bbff;
      }

      .markdown-container .logo {
        text-align: center;
        margin-bottom: 52px;
      }
      .markdown-container img {
        width: 117px;
        height: 68px;
      }
      .markdown-container h4 {
        margin-bottom: 0;
      }
      .markdown-container .descr {
        color: #555555;
      }
      .markdown-container p {
        margin-top: 0;
        color: #555555 !important;
      }

      /*dialog input */
      .el-dialog .el-input {
        width: 400px;
      }
    </style>
    <link rel="stylesheet" href="/static/css-3.0.css" />
  </head>
  <body>
    <section id="app" v-cloak>
      <el-menu
        :default-active='defaultMenu'
        :collapse-transition="false"
        class="el-menu-vertical-demo"
        @open="handleOpen"
        @close="handleClose"
        :collapse="isCollapse"
        @select="selectMenuItem"
      >
        <el-menu-item class="logo">
          <span v-if="!isCollapse"> Adapter </span>
          <img v-else width="40px" height="40px" src="/static/logo.png" />
        </el-menu-item>
        <el-submenu index="1">
          <template slot="title">
            <img src="/static/icon-about-nor.png" />
            <span slot="title">{{language.BasicOptions}}</span>
          </template>
          <!-- <a target="_blank" :href="'/env?adapter_token='+token"> -->
          <el-menu-item
            index="1-1"
            class="menuItem"
            @click="showTypeToggle=1"
          >
            {{language.adapterSet}}
          </el-menu-item>
          <el-menu-item
            index="1-2"
            class="menuItem"
            @click="handlerEev"
          >
            {{language.environmental}}
          </el-menu-item>
          <a target="_blank" href="https://www.aimaker.space">
            <el-menu-item index="1-3" class="menuItem">{{language.explanation}}</el-menu-item>
          </a>
          <el-menu-item
            index="1-4"
            class="menuItem"
            @click="showTypeToggle=3"
          >
            {{language.aboutAdapter}}
          </el-menu-item>
          <!-- </a> -->
        </el-submenu>
        <el-submenu index="2">
          <template slot="title">
            <img src="/static/icon-plugins-nor.png" />
            <span slot="title">{{language.plugin}}</span>
          </template>
          <el-menu-item 
            index="2-1"
          >
            {{language.extensionStatus}}
          </el-menu-item>
          <el-menu-item
            index="2-2"
            class="menuItem"
          >
            {{language.downloadPlugin}}
          </el-menu-item>
          <el-menu-item
            index="2-3"
            class="menuItem"
          >
            {{language.openUserDirectory}}
          </el-menu-item>
        </el-submenu>
      </el-menu>
      <div class="panel">
        <header class="new-header">
          <div class="left">
            <i class="el-icon-s-fold" @click="isCollapse = !isCollapse"></i>
            <span class="version"
              >{{language.version}}：V1.0.0</span
            >
            <!-- <span class="version">{{language.localIp}}：{{returnCitySN.cip}}</span> -->
            <span class="version">{{language.localIp}}：{{ip}}</span>
          </div>
          <div class="right">
            <div class="indicatorBar">
              <span
                :class="['indicator', {connect: status === 'connected!'}]"
              ></span>
              <span
                >{{status === 'connected!' ? language.connected : (status ===
                'disconnected' ? language.connecting : language.disconnected
                )}}</span
              >
            </div>
            <el-button
              plain
              :disabled="status !== 'connected!'"
              size="small"
              @click="exit_adapter_app"
              class="exitbtn"
              >{{status === 'connected!' ? language.exit :
              language.exited}}</el-button
            >
            <!-- <el-button
              id="token"
              :data-clipboard-text="token"
              type="primary"
              size="small"
              @click="$message({message: '复制令牌成功，你可以将它粘贴到其他地方',type: 'success'})"
              >{{language.copyToken}}</el-button
            >
            <a
              target="_blank"
              :href="'https://make.aimaker.space/projects/editor?adapter_version=0.9.0&adapter_token='+token"
              class="el-button el-button--primary el-button--small"
              >{{language.openScratch}}</a
            > -->
          </div>
        </header>
        <div class="container">
          <div class="tip">
            {{
              showTypeToggle === 4?
              '开发者选项中的设置可能会对 Adapter 本身造成影响，请谨慎操作，若出现难以恢复的错误，请联系管理员重装 Adapter'
              :
              'Adapter 控制中心是面向开发者的调试台，在正常教学活动中保持后台运行即可，无需打开此页面'
            }}
          </div>
          <div class="settings" v-if="showTypeToggle===1">
            <!-- <div class="setList">
              <div>
                <p class="title">开机自动启动</p>
                <p class="des">英荔 Adapter 在后台运行时仅占用非常少的资源，建议你保持此选项的开启，提高编程效率。</p>
              </div>
              <div>
                <el-switch
                  active-color="#376fb3"
                  v-model="autoStart"
                  @change="handlerSwitch($event, 1)"
                >
                </el-switch>
              </div>
            </div>
            <div class="setList">
              <div>
                <p class="title">自动更新扩展</p>
                <p class="des">
                  开启后，英荔 Adapter 将在每次启动时，自动将所有已添加的扩展更新到最新版本。建议常用图形化编程的创作者保持开启。
                </p>
              </div>
              <div>
                <el-switch
                  active-color="#376fb3"
                  v-model="autoUpdate"
                  @change="handlerSwitch($event, 2)"
                >
                </el-switch>
              </div>
            </div> -->
            <div class="setList">
              <div>
                <p class="title">Adapter 动态令牌</p>
                <p class="des">{{token}}</p>
              </div>
              <div>
                <el-button
                  id="token"
                  :data-clipboard-text="token"
                  type="primary"
                  size="small"
                  @click="$message({message: '复制令牌成功，你可以将它粘贴到其他地方',type: 'success'})"
                  >{{language.copyToken}}</el-button
                >
              </div>
            </div>
          </div>
          <div class="envStyle" v-if="showTypeToggle===2" ref="environmental">
            <pre>{{envData}}</pre>
          </div>
          <div class="playgroundList extensionList" v-if="showTypeToggle===4">
            <div class="titleBar">
              <div class="left">{{language.extsList}}</div>
              <div class="right">
                <el-button-group size="small">
                  <el-button
                    size="small"
                    :class="{active: allFilter === undefined}"
                    @click="allFilter = undefined"
                    >{{language.all}}</el-button
                  >
                  <el-button
                    size="small"
                    :class="{active: allFilter === true}"
                    @click="allFilter = true"
                    >{{language.connected}}</el-button
                  >
                  <el-button
                    size="small"
                    :class="{active: allFilter === false}"
                    @click="allFilter = false"
                    >{{language.disconnected}}</el-button
                  >
                </el-button-group>
                <el-input
                  v-model="allNameFilter"
                  style="width: 250px"
                  size="small"
                  :placeholder="language.inputExtName"
                  suffix-icon="el-icon-search"
                >
                </el-input>
              </div>
            </div>
            <div class="list">
              <div
                class="item"
                v-for="(statu_info, extension) in extensionList"
              >
                <img
                  class="extensionImg"
                  :src="statu_info['ICON_URL'] || '/static/default.jpg'"
                />
                <div class="content">
                  <!-- <el-tooltip
                    effect="dark"
                    content="click for help"
                    placement="left"
                  > -->
                  <el-link
                    class="title"
                    :href="statu_info['HELP_URL']"
                    target="_blank"
                    >{{map[extension] || extension}}
                  </el-link>
                  <!-- </el-tooltip> -->
                  <p class="desc">{{ statu_info['DESCRIPTION'] }}</p>
                </div>
                <!--click for help-->
                <!--todo 根据设备连接确认信息(通知)， exts_statu[extension]用于指示插件是否正在运行-->

                <!--el-icon-close-->
                <!--bug id-->
                <div class="switch">
                  <i
                    v-if="all_statu[extension]['is_running']"
                    class="el-icon-connection"
                    style="color: green"
                  ></i>
                  <el-switch
                    :class="{is_running: all_statu[extension]['is_running']}"
                    :id="extension"
                    @change="check($event, extension,'extension')"
                    v-model="all_statu[extension]['is_running']"
                  >
                  </el-switch>
                </div>
              </div>
              <i class="itemFix"></i>
            </div>
            <div class="bottomBar">
              <div>
                <!-- <a
                  target="_blank"
                  href="https://adapter.codelab.club/extension_guide/extension_market/"
                  >没有找到想要的插件？</a
                > -->
                <span 
                  @click="showTypeToggle=3, defaultMenu='1-4', document.body.scrollTop = document.documentElement.scrollTop = 0"
                >
                  没有找到想要的插件？
                </span>
              </div>
              <el-pagination
                @size-change="val => allPageSize = val"
                :page-sizes="[6, 10, 20]"
                @current-change="(val) => allCurrentPage = val"
                :current-page="allCurrentPage"
                :page-size="10"
                layout="total, sizes, prev, pager, next, jumper"
                :total="extensionListLength"
              >
              </el-pagination>
            </div>
          </div>
          <div class="about-adapter" v-if="showTypeToggle===3">
            <div class="markdown-container">
              <!-- <h1>英荔 Adapter</h1> -->
              <div class="logo">
                <img src="/static/logo.png" />
              </div>
              <p class="descr">
                英荔 Adapter
                是一个基础服务应用，可以让你的英荔图形化创作平台连接到更多的硬件、软件、通信协议，例如：小米魔方、大疆机甲大师、微信、MQTT
                协议等。
              </p>
              <p class="descr">
                使用英荔 Adapter 需要你的计算机可以正常运行英荔创作平台（安装有
                Edge/Chrome/Firefox
                浏览器中的一个，或是安装离线版的英荔创作平台）。
              </p>
              <p class="descr">
                英荔 Adapter
                只提供计算机本地环境的搭建和消息传输，如果希望最大程度地发挥英荔
                Adapter
                的能力，还需要你的计算机可以正常接入互联网、具有蓝牙、WiFi
                等通信能力。
              </p>
              <p class="descr">
                英荔 Adapter
                运行成功后会保持在后台运行，仅显示一个「AIM」图标在你屏幕的任务栏上。在正常的图形化编程活动中，无需开启
                Adapter 控制中心。
              </p>
              <h4 style="margin-top: 40px">发布者</h4>
              <p>广东英荔国际教育科技有限公司</p>
              <h4>开发者</h4>
              <p>广东英荔国际教育科技有限公司、广州涌乐编程俱乐部（CodeLab）</p>
              <h4>当前版本与发布日期</h4>
              <p style="margin-bottom: 0">V1.0.0</p>
              <p>2021/8/17</p>
              <h4>占用存储空间大小</h4>
              <p>500Mb 以上</p>
              <h4>此应用的权限</h4>
              <p style="margin-bottom: 0">
                访问所有文件、外设、应用、程序和注册表
              </p>
              <p style="margin-bottom: 0">与已配对的蓝牙设备通信</p>
              <p style="margin-bottom: 0">访问家庭或工作网络</p>
              <p>生成日志文件</p>
              <h4>隐私性</h4>
              <p>
                英荔 Adapter
                不会主动收集你的任何个人信息和使用数据。但你的使用数据可能会通过其他渠道发送给有限的利益相关方，如：你主动发送应用的完整错误报告、你基于英荔
                Adapter 的功能使用了其他的应用或服务
              </p>
              <h4>联系我们</h4>
              <p style="margin-bottom: 0">
                如你存在商务合作或其他业务需求，请致电客服热线
                400-931-8118（工作日 9:00～18:00），或发送邮件至
                <a>info@aimaker.space</a>
              </p>
              <p>
                如你存在应用的使用问题或建议，请发送邮件至产品经理 Walter 的邮箱
                <a>yc.zhong@eliteu.cn</a>
              </p>
            </div>
          </div>
        </div>
        <header class="header">
          <div class="container">
            <h2>CodeLab Adapter v3 Web UI</h2>
            <p>status: {{ status }}</p>
            <p>version: {{ version }}</p>
            <el-button round v-on:click="exit_adapter_app">exit</el-button>
            <div class="links">
              <span class="link" v-for="(url, link_name) in links">
                <a target="_blank" :href="url">{{ link_name }}</a>
              </span>
            </div>
            <span class="links">
              <a href="#" :data-clipboard-text="token"> Copy token </a>
            </span>
          </div>
        </header>
        <div id="extension-list">
          <div class="extensions">
            <el-tabs v-model="activeName" @tab-click="handleClick">
              <el-tab-pane label="extensions" name="first">
                <div
                  class="extension"
                  v-for="(statu_info, extension) in exts_statu"
                >
                  <label for="extension">
                    <!-- <el-tooltip
                      class="item"
                      effect="dark"
                      content="click for help"
                      placement="left"
                    > -->
                    <el-link :href="statu_info['HELP_URL']" target="_blank"
                      >{{ extension }}
                    </el-link>
                    <!-- </el-tooltip> -->
                  </label>
                  <!--click for help-->
                  <!--todo 根据设备连接确认信息(通知)， exts_statu[extension]用于指示插件是否正在运行-->
                  <i
                    v-if="exts_statu[extension]['is_running']"
                    class="el-icon-connection"
                    style="color: green"
                  ></i>
                  <!--el-icon-close-->
                  <!--bug id-->
                  <el-switch
                    :id="extension"
                    @change="check($event, extension,'extension')"
                    v-model="exts_statu[extension]['is_running']"
                  >
                  </el-switch>
                </div>
              </el-tab-pane>
              <el-tab-pane label="nodes" name="second">
                <div
                  class="extension"
                  v-for="(statu_info, node) in nodes_statu"
                >
                  <label for="extension">
                    <!-- <el-tooltip
                      class="item"
                      effect="dark"
                      content="click for help"
                      placement="left"
                    > -->
                    <el-link :href="statu_info['HELP_URL']" target="_blank"
                      >{{ node }}
                    </el-link>
                    <!-- </el-tooltip> -->
                  </label>
                  <!--click for help-->
                  <i
                    v-if="nodes_statu[node]['is_running']"
                    class="el-icon-connection"
                    style="color: green"
                  ></i>
                  <!--el-icon-close-->
                  <!--bug id-->
                  <el-switch
                    :id="node"
                    @change="check($event, node,'node')"
                    v-model="nodes_statu[node]['is_running']"
                  >
                  </el-switch>
                </div>
              </el-tab-pane>
            </el-tabs>
          </div>
          <ul id="logs">
            <li v-for="log in logs.slice().reverse()" class="log">
              {{ log.event }}: {{ log.data }}
            </li>
          </ul>
        </div>
      </div>
      <el-button class="menuBtn" v-on:click="showMenu = !showMenu"
        >{{ "<<" }} helper</el-button
      >
      <el-dialog title="plugin download" :visible.sync="dialogFormVisible">
        <!--label-width 无效-->
        <el-form :model="form">
          <el-form-item>
            <el-autocomplete
              class="inline-input"
              v-model="form.plugin_url"
              blur="blur"
              :fetch-suggestions="querySearch"
              placeholder="input plugin name"
              @select="handleSelect"
            ></el-autocomplete>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">Cancel</el-button>
          <el-button type="primary" @click="plugin_download">Confirm</el-button>
        </div>
      </el-dialog>

      <!-- 密码认证 -->
      <el-dialog 
        title="安全提示" 
        :visible.sync="passwordDialog" 
        :show-close="false"
        class="pwd-dialog"
        width="480px"
        :destroy-on-close="true"
        :close-on-click-modal="false"
      >
        <p>开发者选项中的设置可能会对英荔 Adapter 本身造成严重影响，为保护英荔 Adapter 服务的稳定，进入开发者模式需要授权，请与管理员联系。</p>
        <el-form 
          :model="ruleForm" 
          ref="ruleForm"
          hide-required-asterisk="true"
          class="pwd-form"
        >
          <el-form-item 
            label="密码：" 
            prop="pass" 
            :rules="[
              { required: true, message: '请输入密码' }
            ]"
            :error="pwdError"
          >
            <el-input placeholder="请输入" type="password" v-model="ruleForm.pass" autocomplete="off" size="small"></el-input>
          </el-form-item>
          <el-form-item 
            prop="manager"
          >
            <el-checkbox v-model="ruleForm.manager">我是管理员，本机不再需要输入密码</el-checkbox>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer-2">
          <el-button @click="goBack" size="small">取消</el-button>
          <el-button @click="submitForm('ruleForm')" type="primary" size="small">确定</el-button>
        </div>
      </el-dialog>
    </section>
    <!--for update-->
    <script src="/static/l10n.js"></script>
    <script src="/static/rateLimiter.js?version=0.9.0"></script>
    <script src="/static/adapter_base.js?version=0.9.0"></script>
    <script src="/static/adapter_client.js?version=0.9.0"></script>
  </body>
</html>
